streamlit==1.35.0
pandas
numpy
scikit-learn
python-dotenv
PyMuPDF @ https://files.pythonhosted.org/packages/48/7f/c39f80f214139489fb93b7b93ff8df7e9c05a1e64d83dca50bece02923cb/PyMuPDF-1.23.21-cp311-cp311-manylinux_2_17_x86_64.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
